.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.projects{
    justify-content: center;
    align-content: center;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.van-life{
    grid-column: 1;
    grid-row: 1;

}
.van-life-image{
    flex:1;
    border-radius: 25px;
}

.van-life-text{
    flex:1;
}



.solea{
    grid-column: 2;
    grid-row: 1;
}

.where2eat{
    grid-column: 1;
    grid-row: 2;
}

.photography-project{
    grid-column: 2;
    grid-row: 2;
}