.nav-bar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 30px;
    margin-bottom: 30px;
}


.nav-right{
    flex:1
}



.nav-about{
    padding-left: 20px;
}

.nav-services{
    padding-left: 20px;
}

.nav-projects{
    margin-left: 20px;
}